In [86]:
import pandas as pd
import urllib, json 
repower = './EPA_EJSCREEN_ID.csv'
uspr = './EJSCREEN_2021_USPR_Tracts.csv/EJSCREEN_2021_USPR_Tracts.csv'

In [188]:
df = pd.read_csv(repower, header=0)
df2 = pd.read_csv(uspr, header=0)

C:\Users\iveny\AppData\Local\Temp\ipykernel_27972\3950604350.py:1: DtypeWarning: Columns (4,16,17,18,22,23,24,29,30,40) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(repower, header=0)
C:\Users\iveny\AppData\Local\Temp\ipykernel_27972\3950604350.py:2: DtypeWarning: Columns (154,155,156,157) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(uspr, header=0)

In [189]:
bf = df.loc[df['Program'] == 'BROWNFIELDS']

In [190]:
df = df.rename(columns={"EJSCREEN_I": "ID"})
bf = bf.rename(columns={"EJSCREEN_I": "ID"})

In [147]:
bf.to_csv('Brownfield_with_EJScreenID.csv')

In [191]:
df2['ID'] = df2['ID'].astype(str)
df['ID'] = df['ID'].astype(str)
bf['ID'] = bf['ID'].astype(str)

In [193]:
df['ID'] = df['ID'].str[:-3]
bf['ID'] = bf['ID'].str[:-3]

In [194]:
bf['ID']

2          9003510400
3          9009352800
4          9003502700
5          9011697000
6          9003510200
             ...
185181    53067010100
185182    53059950300
185183    53045961300
185184    53063014500
185185    53035090101
Name: ID, Length: 35067, dtype: object

In [151]:
df2['ID']

0         1001020100
1         1001020200
2         1001020300
3         1001020400
4         1001020500
            ...
73996    72153750501
73997    72153750502
73998    72153750503
73999    72153750601
74000    72153750602
Name: ID, Length: 74001, dtype: object

In [152]:
df['ID']

0         23009966300
1         50015953000
2          9003510400
3          9009352800
4          9003502700
             ...
190971    53011041700
190972    53011042600
190973    53033029206
190974    53035090900
190975    53077001202
Name: ID, Length: 190976, dtype: object

In [138]:
mergeFile = pd.merge(df, df2, how='left', on=['ID'])
mergeFile.to_csv('Merge_USPR_EPA_ALL.csv')
mergeFile

,Cross_Refe,EPA_Region,State,Program,Site_ID,Site_Infor,Site_Name,Address,City,County,...,T_PM25,T_PM25_D2,T_UST,T_UST_D2,AREALAND,AREAWATER,NPL_CNT,TSDF_CNT,Shape_Length,Shape_Area
0,2164,1,ME,AML,MED055715775,https://cumulis.epa.gov/supercpad/cursites/csi...,KERRAMERICAN MINE (FORMER),MINES ROAD,BLUE HILL,HANCOCK,...,4.55 ug/m3 (0%ile),34%ile,0.017 facilities/sq km area (5%ile),53%ile,257597216.0,99025681.0,0.0,1.0,123518.876700,6.994809e+08
1,2222,1,VT,AML,VTN000105222,https://cumulis.epa.gov/supercpad/cursites/csi...,VERMONT ASBESTOS GROUP MINE,OFF OF MINES ROAD/NORTH ROAD,LOWELL AND EDEN,LAMOILLE,...,5.73 ug/m3 (2%ile),47%ile,0.033 facilities/sq km area (6%ile),54%ile,289398631.0,2836116.0,0.0,0.0,117083.217424,5.790023e+08
2,2490,1,CT,BROWNFIELDS,238836,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,DALEY COURT,590 BURNSIDE AVE,EAST HARTFORD,HARTFORD,...,7.37 ug/m3 (18%ile),90%ile,6.6 facilities/sq km area (84%ile),94%ile,2709322.0,87828.0,0.0,1.0,14277.488371,5.032969e+06
3,2630,1,CT,BROWNFIELDS,220082,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,INTERSTATE LANE,173 INTERSTATE LANE,WATERBURY,NEW HAVEN,...,7.72 ug/m3 (26%ile),75%ile,5.2 facilities/sq km area (79%ile),84%ile,6928477.0,152408.0,0.0,1.0,18596.911825,1.264639e+07
4,2850,1,CT,BROWNFIELDS,93605,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,POPE PARK ZION LLC 41-43 SCHOOL STREET,41-43 SCHOOL STREET,HARTFORD,HARTFORD,...,7.48 ug/m3 (20%ile),85%ile,8.7 facilities/sq km area (88%ile),94%ile,902888.0,0.0,0.0,0.0,6111.184632,1.623297e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190971,1871,10,WA,SUPERFUND,WAD988519708,https://cumulis.epa.gov/supercpad/cursites/csi...,VANCOUVER WATER STATION #1 CONTAMINATION,E. RESERVE AND N.E. FOURTH PLAIN BLVD.,VANCOUVER,CLARK,...,8.14 ug/m3 (37%ile),70%ile,11 facilities/sq km area (91%ile),86%ile,1132575.0,0.0,0.0,0.0,7493.459096,2.316672e+06
190972,1872,10,WA,SUPERFUND,WAD988475158,https://cumulis.epa.gov/supercpad/cursites/csi...,VANCOUVER WATER STATION #4 CONTAMINATION,5TH + BLANDFORD ST,VANCOUVER,CLARK,...,8.28 ug/m3 (41%ile),35%ile,3.9 facilities/sq km area (72%ile),10%ile,7398938.0,1831981.0,0.0,4.0,22600.044215,1.886876e+07
190973,1873,10,WA,SUPERFUND,WAD009487513,https://cumulis.epa.gov/supercpad/cursites/csi...,"WESTERN PROCESSING CO., INC.",7215 S 196TH ST,KENT,KING,...,7.83 ug/m3 (29%ile),78%ile,19 facilities/sq km area (96%ile),96%ile,17212461.0,214541.0,1.0,22.0,31257.762003,3.803485e+07
190974,1874,10,WA,SUPERFUND,WAD009248295,https://cumulis.epa.gov/supercpad/cursites/csi...,WYCKOFF CO./EAGLE HARBOR,5350 CREOSOTE PL NE,BAINBRIDGE ISLAND,KITSAP,...,6.86 ug/m3 (11%ile),6%ile,6.1 facilities/sq km area (82%ile),0%ile,7642411.0,2783545.0,1.0,1.0,20968.277191,2.294578e+07
190975,1875,10,WA,SUPERFUND,WAD040187890,https://cumulis.epa.gov/supercpad/cursites/csi...,YAKIMA PLATING CO.,1804 S 3RD AV,YAKIMA,YAKIMA,...,9.61 ug/m3 (76%ile),94%ile,11 facilities/sq km area (90%ile),97%ile,2787809.0,0.0,0.0,0.0,9888.003922,5.898266e+06

In [170]:
bf['Counts'] = bf.groupby("ID")["ID"].transform(lambda x: x.count())

In [179]:
bf

,Cross_Refe,EPA_Region,State,Program,Site_ID,Site_Infor,Site_Name,Address,City,County,...,Nearest__1,Distance_2,Distance_3,Latitude,Longitude,OBJECTID,Join_Count,TARGET_FID,ID,Counts
2,2490,1,CT,BROWNFIELDS,238836,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,DALEY COURT,590 BURNSIDE AVE,EAST HARTFORD,HARTFORD,...,115.0,0.000000,0.206486,41.778857,-72.614299,3,1,3,9003510400,3
3,2630,1,CT,BROWNFIELDS,220082,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,INTERSTATE LANE,173 INTERSTATE LANE,WATERBURY,NEW HAVEN,...,0.0,0.458963,2.385695,41.531557,-72.993027,4,1,4,9009352800,1
4,2850,1,CT,BROWNFIELDS,93605,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,POPE PARK ZION LLC 41-43 SCHOOL STREET,41-43 SCHOOL STREET,HARTFORD,HARTFORD,...,115.0,0.102753,1.097241,41.748130,-72.684830,5,1,5,9003502700,4
5,2955,1,CT,BROWNFIELDS,240641,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,AMERICAN LEGION,457 LAUREL HILL AVE,NORWICH,NEW LONDON,...,115.0,0.002861,0.022354,41.507272,-72.077681,6,1,6,9011697000,4
6,3088,1,CT,BROWNFIELDS,214881,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,KAHOOTS PROPERTY,639 MAIN STREET,EAST HARTFORD,HARTFORD,...,115.0,0.012856,0.821027,41.763039,-72.646810,7,1,7,9003510200,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185181,37717,10,WA,BROWNFIELDS,217802,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,301 4TH AVE W PROPERTY,301 4TH AVE W,OLYMPIA,THURSTON,...,69.0,0.000000,0.115495,47.045036,-122.899042,185182,1,185182,53067010100,10
185182,37735,10,WA,BROWNFIELDS,241970,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,MELONAS PROPERTY,310 2ND STREET,STEVENSON,SKAMANIA,...,230.0,0.000000,0.030339,45.692735,-121.885527,185183,1,185183,53059950300,3
185183,37737,10,WA,BROWNFIELDS,244442,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,SQUAXIN ISLAND TRIBE TINY HOMES PROJECT,308 SE T-PEEKSIN LANE,SHELTON,MASON,...,115.0,0.895567,0.573529,47.126938,-123.077005,185184,1,185184,53045961300,1
185184,37785,10,WA,BROWNFIELDS,244754,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,FORMER CAR EMPORIUM,936 EAST SPRAGUE AVENUE,SPOKANE,SPOKANE,...,115.0,0.000000,0.071709,47.656915,-117.396378,185185,1,185185,53063014500,19
185185,37789,10,WA,BROWNFIELDS,245111,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,POINT JULIA WETLAND,END OF POINT JULIA ROAD (OFF NE BOSTON LANE),KINGSTON,KITSAP,...,69.0,0.185555,9.124047,47.854977,-122.575573,185186,1,185186,53035090101,8

In [180]:
counts = bf[['ID','Counts']]
counts

                 ID  Counts
2        9003510400       3
3        9009352800       1
4        9003502700       4
5        9011697000       4
6        9003510200       1
...             ...     ...
185181  53067010100      10
185182  53059950300       3
185183  53045961300       1
185184  53063014500      19
185185  53035090101       8

[35067 rows x 2 columns]

In [182]:
counts.drop_duplicates(subset=["ID"])
counts['Counts'].sum()

649985

In [173]:
counts.drop_duplicates(subset=["ID"])
countsMerge = pd.merge(df2, counts, how='left', left_on='ID', right_on='ID')
countsMerge

,OBJECTID,ID,ACSTOTPOP,ACSIPOVBAS,ACSEDUCBAS,ACSTOTHH,ACSTOTHU,ACSUNEMPBAS,MINORPOP,MINORPCT,...,T_PM25_D2,T_UST,T_UST_D2,AREALAND,AREAWATER,NPL_CNT,TSDF_CNT,Shape_Length,Shape_Area,Counts
0,1,1001,1993,1993,1323,709,725,980,334,0.167587,...,48%ile,0.41 facilities/sq km area (24%ile),46%ile,9817813.0,28435.0,0,0,19197.315791,1.387495e+07,NaN
1,2,1001,1959,1709,1403,688,840,756,1209,0.617152,...,68%ile,2.5 facilities/sq km area (60%ile),71%ile,3325680.0,5669.0,0,0,11652.054724,4.694106e+06,NaN
2,3,1001,3507,3507,2505,1360,1428,1790,1222,0.348446,...,54%ile,2 facilities/sq km area (54%ile),40%ile,5349273.0,9054.0,0,0,12474.647834,7.550455e+06,NaN
3,4,1001,3878,3878,2856,1675,1863,1782,400,0.103146,...,23%ile,3.4 facilities/sq km area (68%ile),9%ile,6384276.0,8408.0,0,1,14839.595823,9.007288e+06,NaN
4,5,1001,10596,10427,6792,4483,4622,5357,3083,0.290959,...,10%ile,2.2 facilities/sq km area (57%ile),9%ile,11408866.0,43534.0,0,0,20306.660651,1.613176e+07,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73996,73997,72153,6113,6095,4132,1565,2010,2170,6104,0.998528,...,NaN,0 facilities/sq km area (4%ile),60%ile,1820185.0,0.0,0,0,9110.795959,2.024034e+06,NaN
73997,73998,72153,2388,2388,1488,762,921,912,2369,0.992044,...,NaN,0 facilities/sq km area (4%ile),60%ile,689930.0,0.0,0,0,4655.575994,7.671388e+05,NaN
73998,73999,72153,2126,2126,1441,597,970,614,2122,0.998119,...,NaN,0 facilities/sq km area (4%ile),60%ile,3298433.0,1952.0,0,0,11377.580178,3.669754e+06,NaN
73999,74000,72153,4397,4397,2667,1233,2025,1324,4397,1.000000,...,NaN,0.12 facilities/sq km area (12%ile),66%ile,10987037.0,4527.0,0,0,21884.587941,1.222062e+07,NaN
74000,74001,72153,2225,2207,1840,743,1442,637,2225,1.000000,...,NaN,0 facilities/sq km area (4%ile),60%ile,17520483.0,252953.0,0,0,22665.285715,1.975395e+07,NaN

In [134]:
countsMerge['Counts'] = countsMerge['Counts'].fillna(0).astype(int)

In [135]:
countsMerge

,OBJECTID,ID,ACSTOTPOP,ACSIPOVBAS,ACSEDUCBAS,ACSTOTHH,ACSTOTHU,ACSUNEMPBAS,MINORPOP,MINORPCT,...,T_PM25_D2,T_UST,T_UST_D2,AREALAND,AREAWATER,NPL_CNT,TSDF_CNT,Shape_Length,Shape_Area,Counts
0,1,1001020100,1993,1993,1323,709,725,980,334,0.167587,...,48%ile,0.41 facilities/sq km area (24%ile),46%ile,9817813.0,28435.0,0,0,19197.315791,1.387495e+07,0
1,2,1001020200,1959,1709,1403,688,840,756,1209,0.617152,...,68%ile,2.5 facilities/sq km area (60%ile),71%ile,3325680.0,5669.0,0,0,11652.054724,4.694106e+06,0
2,3,1001020300,3507,3507,2505,1360,1428,1790,1222,0.348446,...,54%ile,2 facilities/sq km area (54%ile),40%ile,5349273.0,9054.0,0,0,12474.647834,7.550455e+06,0
3,4,1001020400,3878,3878,2856,1675,1863,1782,400,0.103146,...,23%ile,3.4 facilities/sq km area (68%ile),9%ile,6384276.0,8408.0,0,1,14839.595823,9.007288e+06,0
4,5,1001020500,10596,10427,6792,4483,4622,5357,3083,0.290959,...,10%ile,2.2 facilities/sq km area (57%ile),9%ile,11408866.0,43534.0,0,0,20306.660651,1.613176e+07,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73996,73997,72153750501,6113,6095,4132,1565,2010,2170,6104,0.998528,...,NaN,0 facilities/sq km area (4%ile),60%ile,1820185.0,0.0,0,0,9110.795959,2.024034e+06,0
73997,73998,72153750502,2388,2388,1488,762,921,912,2369,0.992044,...,NaN,0 facilities/sq km area (4%ile),60%ile,689930.0,0.0,0,0,4655.575994,7.671388e+05,0
73998,73999,72153750503,2126,2126,1441,597,970,614,2122,0.998119,...,NaN,0 facilities/sq km area (4%ile),60%ile,3298433.0,1952.0,0,0,11377.580178,3.669754e+06,0
73999,74000,72153750601,4397,4397,2667,1233,2025,1324,4397,1.000000,...,NaN,0.12 facilities/sq km area (12%ile),66%ile,10987037.0,4527.0,0,0,21884.587941,1.222062e+07,0
74000,74001,72153750602,2225,2207,1840,743,1442,637,2225,1.000000,...,NaN,0 facilities/sq km area (4%ile),60%ile,17520483.0,252953.0,0,0,22665.285715,1.975395e+07,0

In [137]:
countsMerge.to_csv("BF_Counts_per_TRACT.csv")

In [141]:
df2['ID'] = df2['ID'][0:5]

In [154]:
df2['ID'] = df2['ID'].str[:-6]

In [156]:
lc = df2[['ID','ACSTOTPOP','ACSIPOVBAS','MINORPOP','LOWINCOME']]

In [158]:
lc = lc.groupby(by="ID").sum()

In [159]:
lc

       ACSTOTPOP  ACSIPOVBAS  MINORPOP  LOWINCOME
ID
10001     176699      171048     67865      54500
10003     556165      539034    236702     129185
10005     224384      220682     56184      59919
1001       55380       54922     14065      17035
1003      212830      209618     36027      59570
...          ...         ...       ...        ...
9007      163053      157700     26246      27389
9009      857513      831151    318215     212568
9011      267390      255691     65094      59301
9013      151063      136003     23246      24012
9015      116566      111204     20162      28228

[3220 rows x 4 columns]

In [160]:
lc.to_csv('LowIncome_TotalPop_by_County.csv')

In [161]:
lc['LI/TOTAL'] = lc['LOWINCOME']/lc['ACSTOTPOP']

In [163]:
lc.to_csv('LowIncome_TotalPop_by_County.csv')

In [164]:
bf

,Cross_Refe,EPA_Region,State,Program,Site_ID,Site_Infor,Site_Name,Address,City,County,...,Nearest_Tr,Nearest__1,Distance_2,Distance_3,Latitude,Longitude,OBJECTID,Join_Count,TARGET_FID,ID
2,2490,1,CT,BROWNFIELDS,238836,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,DALEY COURT,590 BURNSIDE AVE,EAST HARTFORD,HARTFORD,...,IN SERVICE,115.0,0.000000,0.206486,41.778857,-72.614299,3,1,3,9003510400
3,2630,1,CT,BROWNFIELDS,220082,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,INTERSTATE LANE,173 INTERSTATE LANE,WATERBURY,NEW HAVEN,...,IN SERVICE,0.0,0.458963,2.385695,41.531557,-72.993027,4,1,4,9009352800
4,2850,1,CT,BROWNFIELDS,93605,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,POPE PARK ZION LLC 41-43 SCHOOL STREET,41-43 SCHOOL STREET,HARTFORD,HARTFORD,...,IN SERVICE,115.0,0.102753,1.097241,41.748130,-72.684830,5,1,5,9003502700
5,2955,1,CT,BROWNFIELDS,240641,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,AMERICAN LEGION,457 LAUREL HILL AVE,NORWICH,NEW LONDON,...,IN SERVICE,115.0,0.002861,0.022354,41.507272,-72.077681,6,1,6,9011697000
6,3088,1,CT,BROWNFIELDS,214881,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,KAHOOTS PROPERTY,639 MAIN STREET,EAST HARTFORD,HARTFORD,...,IN SERVICE,115.0,0.012856,0.821027,41.763039,-72.646810,7,1,7,9003510200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185181,37717,10,WA,BROWNFIELDS,217802,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,301 4TH AVE W PROPERTY,301 4TH AVE W,OLYMPIA,THURSTON,...,NOT AVAILABLE,69.0,0.000000,0.115495,47.045036,-122.899042,185182,1,185182,53067010100
185182,37735,10,WA,BROWNFIELDS,241970,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,MELONAS PROPERTY,310 2ND STREET,STEVENSON,SKAMANIA,...,NOT AVAILABLE,230.0,0.000000,0.030339,45.692735,-121.885527,185183,1,185183,53059950300
185183,37737,10,WA,BROWNFIELDS,244442,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,SQUAXIN ISLAND TRIBE TINY HOMES PROJECT,308 SE T-PEEKSIN LANE,SHELTON,MASON,...,NOT AVAILABLE,115.0,0.895567,0.573529,47.126938,-123.077005,185184,1,185184,53045961300
185184,37785,10,WA,BROWNFIELDS,244754,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,FORMER CAR EMPORIUM,936 EAST SPRAGUE AVENUE,SPOKANE,SPOKANE,...,NOT AVAILABLE,115.0,0.000000,0.071709,47.656915,-117.396378,185185,1,185185,53063014500
185185,37789,10,WA,BROWNFIELDS,245111,https://ofmpub.epa.gov/apex/cimc/f?p=CIMC:31::...,POINT JULIA WETLAND,END OF POINT JULIA ROAD (OFF NE BOSTON LANE),KINGSTON,KITSAP,...,NOT AVAILABLE,69.0,0.185555,9.124047,47.854977,-122.575573,185186,1,185186,53035090101

In [174]:
counts['ID'] = counts['ID'].str[:-6]
counts

C:\Users\iveny\AppData\Local\Temp\ipykernel_27972\1647055302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counts['ID'] = counts['ID'].str[:-6]

           ID  Counts
2        9003       3
3        9009       1
4        9003       4
5        9011       4
6        9003       1
...       ...     ...
185181  53067      10
185182  53059       3
185183  53045       1
185184  53063      19
185185  53035       8

[35067 rows x 2 columns]

In [167]:
lc

       ACSTOTPOP  ACSIPOVBAS  MINORPOP  LOWINCOME  LI/TOTAL
ID
10001     176699      171048     67865      54500  0.308434
10003     556165      539034    236702     129185  0.232278
10005     224384      220682     56184      59919  0.267038
1001       55380       54922     14065      17035  0.307602
1003      212830      209618     36027      59570  0.279895
...          ...         ...       ...        ...       ...
9007      163053      157700     26246      27389  0.167976
9009      857513      831151    318215     212568  0.247889
9011      267390      255691     65094      59301  0.221777
9013      151063      136003     23246      24012  0.158954
9015      116566      111204     20162      28228  0.242163

[3220 rows x 5 columns]

In [168]:
counts.to_csv('BrownFields_Counts_by_County.csv')

In [175]:
counts = counts.groupby('ID').sum()
counts

       Counts
ID
          324
10001      23
10003    2988
10005       8
1001       16
...       ...
9007      193
9009      568
9011      139
9013       24
9015        3

[1966 rows x 1 columns]

In [178]:
counts['Counts'].sum()

649985

In [195]:
shrink_BF = bf[['ID']]

In [197]:
shrink_BF['ID'] = shrink_BF['ID'].str[:-6]

C:\Users\iveny\AppData\Local\Temp\ipykernel_27972\857899515.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shrink_BF['ID'] = shrink_BF['ID'].str[:-6]

In [198]:
shrink_BF

           ID
2        9003
3        9009
4        9003
5        9011
6        9003
...       ...
185181  53067
185182  53059
185183  53045
185184  53063
185185  53035

[35067 rows x 1 columns]

In [210]:
shrink_BF.groupby(['ID']).size()

ID
          18
10001      9
10003    132
10005      6
1001       4
        ...
9007      31
9009     124
9011      37
9013      10
9015       3
Length: 1966, dtype: int64

In [211]:
shrink_BF['Counts'] = shrink

           ID  Counts
2        9003     NaN
3        9009     NaN
4        9003     NaN
5        9011     NaN
6        9003     NaN
...       ...     ...
185181  53067     NaN
185182  53059     NaN
185183  53045     NaN
185184  53063     NaN
185185  53035     NaN

[35067 rows x 2 columns]

In [218]:
counts_drop = counts.drop_duplicates()

In [205]:
shrink_BF

           ID  Counts
2        9003     NaN
3        9009     NaN
4        9003     NaN
5        9011     NaN
6        9003     NaN
...       ...     ...
185181  53067     NaN
185182  53059     NaN
185183  53045     NaN
185184  53063     NaN
185185  53035     NaN

[35067 rows x 2 columns]

In [222]:
counts_drop['ID'] = counts_drop['ID'].str[:-6]
counts_drop

C:\Users\iveny\AppData\Local\Temp\ipykernel_27972\3777275813.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counts_drop['ID'] = counts_drop['ID'].str[:-6]

           ID  Counts
2        9003       3
3        9009       1
4        9003       4
5        9011       4
6        9003       1
...       ...     ...
185161  53033       1
185164  53035       1
185169  53053       1
185180  53007       1
185183  53045       1

[10757 rows x 2 columns]

In [225]:
counts_drop = counts_drop.groupby('ID').sum()

In [226]:
counts_drop

       Counts
ID
           18
10001       9
10003     132
10005       6
1001        4
...       ...
9007       31
9009      124
9011       37
9013       10
9015        3

[1966 rows x 1 columns]

In [227]:
counts_drop['Counts'].sum()

35067

In [235]:
counts_lc = pd.merge(lc, counts_drop, how='left', on=['ID'])

In [237]:
counts_lc['Counts'] = counts_lc['Counts'].fillna(0)

In [243]:
counts_lc['Counts'].sum()

35049.0

In [241]:
counts_lc.to_csv('EveryCounty_BFCounts.csv')

In [242]:
lc

       ACSTOTPOP  ACSIPOVBAS  MINORPOP  LOWINCOME  LI/TOTAL
ID
10001     176699      171048     67865      54500  0.308434
10003     556165      539034    236702     129185  0.232278
10005     224384      220682     56184      59919  0.267038
1001       55380       54922     14065      17035  0.307602
1003      212830      209618     36027      59570  0.279895
...          ...         ...       ...        ...       ...
9007      163053      157700     26246      27389  0.167976
9009      857513      831151    318215     212568  0.247889
9011      267390      255691     65094      59301  0.221777
9013      151063      136003     23246      24012  0.158954
9015      116566      111204     20162      28228  0.242163

[3220 rows x 5 columns]